@import '../../assets/styles/helpers/variables';

.header-desktop-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 200; /* carousel was overlapping header menu */
  color: $light_content_text;
  background: $dark_background_min_opacity;
  transition: background .7s cubic-bezier(.23, 1, .32, 1);

  /**
   * vertically center div
   * http://jsfiddle.net/hashem/VsakD/8/
   */
  .nav-menu-wrapper {
    margin-left: 10%;
    height: 100%;
    /* text-align: center;  align the inline(-block) elements horizontally */

    &:before {
      /* create a full-height inline block pseudo-element */
      content: ' ';
      display: inline-block;
      vertical-align: middle; /* vertical alignment of the inline element */
      height: 100%;
    }

    .nav-menu-sections-wrapper {
      display: inline-block;
      vertical-align: middle;
      width: 97%;
      text-align: right;
    }

    .navigation-menu-sections li {
      padding-right: 5%;
      color: $light_header_text;
    }

    .navigation-menu-sections.activeText li {
      color: $dark_header_text;
    }

    a {
      color: inherit;
      transition: opacity .5s cubic-bezier(.23, 1, .32, 1);
      opacity: 0.7;

      &:active {
        color: $active_header_text;
      }

      &:hover {
        opacity: 1;
      }
    }

    li {
      cursor: pointer;
      display: inline;
      margin-left: 50px;
      font-size: 1.2rem;
    }

    span {
      //    content: "";
      position: absolute;
      top: 57px;
      background-color: $underlining_line;
      height: 3px;

      transition: all 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000);
      transform-origin: left center;
      backface-visibility: hidden;
    }
  }
}

.header-desktop-view.active {
  opacity: 1;
  color: $dark_content_text;
  background: $light_background;
}

.navigation-menu {
  height: 100%;
  width: 100%;
}

