@import '../../assets/styles/helpers/variables';

.header-device-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 200; /* carousel was overlapping header menu */
  color: $light_content_text;
  background: $dark_background_min_opacity;
  transition: background .7s cubic-bezier(.23, 1, .32, 1);

  .nav-menu-wrapper {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    color: inherit;
    background-color: inherit;

    max-height: 0;
    transition: max-height .7s cubic-bezier(.23, 1, .32, 1);

    .nav-menu-sections-wrapper {
      color: inherit;
      max-height: inherit;
    }

    a {
      color: inherit;

      &:active {
        color: $active_header_text;
      }
    }
  }

  .nav-menu-wrapper.active {
    max-height: 140px;

    li {
      margin: 0 0 2% 0;
      visibility: visible;
    }
  }

  i {
    color: $dark_header_text;
    padding-left: 35%;
  }

  li {
    cursor: pointer;
    font-size: 1.2rem;
    color: inherit;
    visibility: hidden;
  }

  ul {
    list-style-type: none;
    color: inherit;
    max-height: inherit;
  }
}

.header-device-view.active {
  color: $dark_content_text;
  background: $light_background;

  .b-bun {
    background: $dark_background;
  }
}

.navigation-menu {
  height: 100%;
  width: 100%;
  color: inherit;
  background-color: inherit;
}
