@import '../../assets/styles/helpers/variables';
@import '../../assets/styles/helpers/mixins';


.counter-section {
  float: right;
  margin: 10px;

  .satisfied-customers {
    position: fixed;
    right: 78px;
  }

  @include breakpoint(nth($breakpoints, 2)) {
    display: none;
  }

  div {
    width: 1em;
    height: 1em;
    overflow: hidden;
    line-height: 1em;
    display: inline-block;
  }

  span {
    position: relative;
  }

  .animate {
    -webkit-animation: spinit 0.7s 5;
    -moz-animation: spinit 0.7s 5;
    animation: spinit 0.7s 5;
  }

  .animate-late {
    -webkit-animation: spinitLate 0.7s 5;
    -moz-animation: spinitLate 0.7s 5;
    animation: spinitLate 0.7s 5;
  }

  @-webkit-keyframes spinit {
    0% {
      top: 0;
    }
    25% {
      top: -3em;
    }

    50% {
      top: -5em;
    }

    75% {
      top: -7em;
    }

    100% {
      top: -9em;
    }
  }

  @-moz-keyframes spinit {
    0% {
      top: 0;
    }
    25% {
      top: -3em;
    }
    50% {
      top: -5em;
    }
    75% {
      top: -7em;
    }
    100% {
      top: -9em;
    }
  }

  @keyframes spinit {
    0% {
      top: 0;
    }
    25% {
      top: -3em;
    }
    50% {
      top: -5em;
    }
    75% {
      top: -7em;
    }
    100% {
      top: -9em;
    }
  }

  @-webkit-keyframes spinitLate {
    10% {
      top: 0;
    }
    60% {
      top: -5em;
    }
    100% {
      top: -9em;
    }
  }

  @-moz-keyframes spinitLate {
    10% {
      top: 0;
    }
    60% {
      top: -5em;
    }
    100% {
      top: -9em;
    }
  }

  @keyframes spinitLate {
    10% {
      top: 0;
    }
    60% {
      top: -5em;
    }
    100% {
      top: -9em;
    }
  }

  /* Setting the required value to top will make the spinner end at that number */

  #digit1 {
    top: -4em;
    /* -4em means 5 will be the number */
  }

  #digit2 {
    top: -2em;
  }

  #digit3 {
    top: 0;
  }

  #digit4 {
    top: 0;
  }
}
