/**
 * logo-wrapper/nav-menu-wrapper: width should be same as margin-left && only right-nav should have float left
 */
.logo-wrapper {
  float: left;
  width: 76px;
  height: 100%;

  img {
    height: 80px;
    margin: 10px 0 0 10px;
  }
}