.glitchImage {

  img {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    -webkit-filter: brightness(1);
    filter: brightness(1);
    animation: filter-animation 2s forwards;
    -webkit-animation: filter-animation 2s forwards; /* for less modern browsers */
    animation-delay: 0.5s;
  }
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: brightness(0);
  }

  100% {
    -webkit-filter: brightness(1);
  }
}
