@import '../../assets/styles/helpers/variables';
@import '../../assets/styles/helpers/mixins';

.content-wrapper {
  width: 40%;
  height: 30%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  @include breakpoint(nth($breakpoints, 2)) {
    width: auto;
    height: auto;

    top: 20%;

    margin: 3%;
  }
}

/*
.intro-page-link {
    position: relative;
    z-index: 100;
}

.homePage > button {
    position: relative;
    z-index: 100;
}
*/