/* This file contains all functions and mixins used in this project */

//  ================================================
//  1. Mixin: breakpoint
//  ================================================

//  ------------------------------------------------
//
//  Parameter:
//
//  @param: {number} $point: number of pixels for comparison
//
//  ------------------------------------------------
//
//  Examples:
//
//  .page-wrap {
//    width: 75%;
//    @include breakpoint(nth($breakpoints, 1)) { width: 60%; }
//    @include breakpoint(nth($breakpoints, 2)) { width: 80%; }
//    @include breakpoint(nth($breakpoints, 3)) { width: 95%; }
//  }
//
//  ------------------------------------------------
@mixin breakpoint($point) {
  @if $point == nth($breakpoints, 1) {
    @media (max-width: 320px) {@content;}
  }
  @else if $point == nth($breakpoints, 2) {
    @media (max-width: 768px) {@content;}
  }
  @else if $point == nth($breakpoints, 3) {
    @media (max-width: 1024px) {@content;}
  }
}

//  ================================================
//  2. Mixin: fonts
//  ================================================

//  ------------------------------------------------
//
//  Parameter:
//
//  @param: {string} $family: font-family
//  @param: {string} $file: file name without extension
//  @param: {property} $weight: font-weight
//  @param: {property} $style: font-style
//
//  ------------------------------------------------
//
//  Examples:
//
//  @include font-face(Avenir, 'avenir'); // Avenir with font-weight: normal, font-style: normal
//  @include font-face(Avenir, 'avenir-light', $weight: 100); // Avenir with font-weight: light, font-style: normal
//  @include font-face(Avenir, 'avenir-light-italic', $weight: 100, $style: italic); // Avenir with font-weight: light, font-style: italic
//
//
//  ------------------------------------------------
@mixin font-face($family, $file, $weight: normal, $style: normal) {

  @font-face {
    font-family: $family;
    src: url('../fonts/#{$file}.eot');
    src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file}.woff2') format('woff2'),
    url('../fonts/#{$file}.woff') format('woff'),
    url('../fonts/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}