/* Background colors */
$dark_background: rgb(22, 25, 27);
$dark_background_min_opacity: rgba(22, 25, 27, .1);
$light_background: rgb(226, 230, 232);

/* Content Text colors */
$dark_content_text: rgb(22, 25, 27);
$light_content_text: rgb(204, 204, 204);

/* Headers Text colors */
$dark_header_text: rgb(22, 25, 27);
$light_header_text: rgb(213, 213, 213);
$active_header_text: rgb(130, 187, 230);

/* Underlying dash colors */
$underlining_line: rgb(22, 25, 27);

/* Global breakpoints */
$breakpoints: (
        'small': 320px,
        'medium': 768px,
        'large': 1024px,
) !default;
