.paragraph-headline-wrapper {
  h1 {
    display: inline-block;
    font-size: 1.3rem;
    height: 100%;
  }

  // blinking cursor css
  .ityped-cursor {
    display: inline-block;
    font-size: 1.3rem;
    opacity: 1;
    -webkit-animation: blink 0.9s infinite;
    -moz-animation: blink 0.9s infinite;
    animation: blink 0.9s infinite;
    animation-direction: alternate;
  }

  @keyframes blink {
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes blink {
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes blink {
    100% {
      opacity: 0;
    }
  }
}
