@import '../../assets/styles/helpers/variables';
@import '../../assets/styles/helpers/mixins';

/**
 * vertically center div
 * http://jsfiddle.net/hashem/VsakD/8/
 */
.footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* &:before { !* create a full-height inline block pseudo-element *!
     content: ' ';
     display: inline-block;
     vertical-align: middle; !* vertical alignment of the inline element *!
     height: 100%;
   }*/

}

.footer-social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  margin: auto;

  sup {
    font-size: 0.6em !important;
  }

  a {
    text-decoration: none;
  }

  .icons-view {
    display: none;
  }

  li {
    display: inline;
    margin: 0 10px 0 10px;
    color: $light_content_text;
    transition: opacity .5s cubic-bezier(.23, 1, .32, 1);
    opacity: 0.66;

    &:hover {
      opacity: 1;
    }
  }

  ul {
    padding: 0; // reset
  }

  @include breakpoint(nth($breakpoints, 2)) {
    display: inline-block;
    border-top: 1px groove $light_background;
    padding-top: 5px;
    letter-spacing: 0.0625em;

    li {
      display: inline-block;
    }
    /**
     * right-nav/left-nav: width should be same as margin-left && only right-nav should have float left
     */
    .left-nav {
      float: none;
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .right-nav {
      width: 100%;
      height: 100%;
      text-align: center;
      margin: 0;
    }

  }
}

/**
 * Handle contact details: toggle icons and words view in device/desktop respectively
 */
.words-view {
  @include breakpoint(nth($breakpoints, 2)) {
    display: none !important;
  }
}

.icons-view {
  @include breakpoint(nth($breakpoints, 2)) {
    display: flex !important;
    flex-direction: column;
  }
}