@import "../../assets/styles/helpers/variables";
@import "../../assets/styles/helpers/mixins";

.app-wrapper {
  height: 100%;
  background-color: $dark_background;

  /* Handle smooth loading */
  filter: brightness(0);

  -webkit-animation: filter-animation 2s forwards !important; /* for less modern browsers */
  -moz-animation: filter-animation 2s forwards !important;
  animation: filter-animation 2s forwards !important;
  animation-delay: .5s !important;
}

/* filter-animation "function" */
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: brightness(0);
  }

  100% {
    -webkit-filter: brightness(1);
  }
}

@-moz-keyframes filter-animation {
  0% {
    filter: brightness(0);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes filter-animation {
  0% {
    filter: brightness(0);
  }

  100% {
    filter: brightness(1);
  }
}

.app-container {
  position: relative; // fix canvas
  z-index: 700; // overlaying bug!
  width: 100%;
  height: 100%;

  header {
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 60px;
  }

  .main-wrapper {
    max-width: 900px;

    height: 90%; // sticky footer
    margin: 0 auto; // sticky footer

    @include breakpoint(nth($breakpoints, 2)) {
      margin: auto;
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;

    height: 40px;

    @include breakpoint(nth($breakpoints, 2)) {
      height: auto;
    }
  }
}

.particles-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  div {
    width: 100%;
    height: 100%;
  }

  canvas { // inspired from rocket.chat official page
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
    height: 100%;
  }
}

.app-wrapper::before {
  top: 0;
  left: 0;
}
